@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 12px;
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url(images/pg.jpg);
  background-position: cover;
}

html, body{
  height: 100%;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  padding: 50px; 
}

.custom-navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #fbf3ed !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
}

.custom-navbar.sticky-top {
  position: sticky;
  top: 0;
}


.custom-navbar .navbar-nav .nav-link {
  color: #dc889a !important;
  font-size: 18px;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link:hover {
  color: #c42348 !important;
}

.custom-navbar .dropdown-menu {
  background-color: #fbf3ed !important;
  border: 2px solid #dc889a;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 150px;
}

.custom-navbar .dropdown-menu .dropdown-item {
  color: #dc889a !important;
  font-size: 14px;
  padding: 6px 12px;
  transition: background-color 0.3s ease;
}

.custom-navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(220, 136, 154, 0.1);
}

.custom-navbar .navbar-brand {
  color: #dc889a !important;
  font-size: 18px;
  margin-left: 20px;
}

.custom-navbar .navbar-toggler-icon {
  background-color: #dc889a;
}

.btn-outline-danger {
  border-color: #dc889a;
  color: #dc889a;
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: #dc889a;
  color: white;
}

#loginButton {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  border-width: 2px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  width: 900px;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  background-color: #fbf3ed;
  overflow: auto;
}

.heart-button {
  vertical-align: middle; 
}

.cf{
  display: inline-block;
}


.userDetails {
  padding: 15px 25px;
  margin-bottom: 10px;
}

.userDetails .userName h1 {
  font-size: 28px;
  color: #d46a7e;
  margin-bottom: 5px;
  margin-top: 20px;
}

.userDetails .userName p {
  font-size: 18px;
  font-weight: 600;
}

.userDetails .rank {
  position: relative;
  margin-bottom: 25px;
  color: #464343;
}

.userDetails .rank .heading {
  font-size: 16px;
  color: #464343;
  text-transform: uppercase;
  margin-top: 40px;
}

.userDetails .rank span {
  font-size: 23px;
  font-weight: 650;
  color: #464343;
}

.userDetails .rank .rating {
  position: absolute;
  top: 1.9rem;
  left: 1.8rem;
  display: flex;
  gap: 5px;
  margin-top: 50px;
  font-size: 22px;
}

.userDetails .rank .rating i {
  color: #464343;
  transition: color 0.3s;
}

.userDetails .user-rating{
  margin-top: 20px; 
  margin-bottom: 20px;
  cursor: pointer;
}

.userDetails .user-rating h1{
  font-size: 17px;
  color: #464343;
}
.userDetails .user-rating div{
  margin-bottom: 15px;
  font-size: 17px;
  color: #464343;
}

.userDetails .user-rating .rating i.active {
  color: #f5a4b5;
}

.userDetails .rank .rating .rate {
  font-size: 15px;
}

.userDetails .rank .rating .underrate {
  color: #464343;
}

.heart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  line-height: 1;
}

.profile {
  position: absolute;
  top: 20px; 
  right: 20px;
}

.profile img {
  border-radius: 20%;
  object-fit: cover;
  width: 17rem;    
  height: 17rem; 
  opacity: 80%;     
}


.bio .work .heading,
.bio .skills .heading {
  position: relative;
  color: #d46a7e;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 10px;
}

.bio .work .heading::before,
.bio .skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 88%;
  background: #3c3c3c;
  font-weight: 700;
  display: none;
}

.bio .work .primary p,
.bio .skills p{
  margin-bottom: 10px;
  font-size: 15px;
  color: #474444;
  line-height: 1.6rem;
  margin-left: 25px;
}

.bio .skills ul li {
  position: relative;
  font-size: 15px;
  line-height: 1.8rem;
  color: #474444;
  font-weight: 520;
  margin-left: 40px;
  margin-top: 10px;
}

.timeline_about {
  padding: 30px;
  margin-bottom: 10px;
  position: relative;
}

.timeline_about .tabs {
  position: sticky;
  top: 0; 
  background-color: #f0dae1; 
  z-index: 10; 
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transform: none;
  margin-bottom: 30px;
}

.timeline_about .basic_info p,
.timeline_about .basic_info span{
  font-size: 16px;
  margin-left: 10px;
}

.timeline_about .tabs ul {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #3c3c3c;
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 20px;
  color: #dc889a;
}

.timeline_about .tabs ul li span {
  font-size: 19px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 10px;
}

.timeline_about .tabs ul .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.timeline_about .recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 70px;
  max-width: 900px;
  margin-left: 40px;
}

.timeline_about .recipe-card {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 250px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ebc8cd;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.timeline_about .recipe-card:hover {
  transform: scale(1.1);
}

.timeline_about .recipe-card img {
  width: 100%;              
  height: 85%;            
  object-fit: cover; 
  display: block;
  border-radius: 10px 10px 0 0;
}

.timeline_about .recipe-name {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.footer {
  background-color: #dc889a;
  padding: 40px 0; 
  font-family: 'Poppins', sans-serif;
}

.containerf {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.footer-col {
  flex: 1; 
  min-width: 200px; 
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fbf3ed;
  text-transform: capitalize;
  margin-bottom: 20px; 
  font-weight: 600; 
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fbf3ed;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding-left: 0;
  margin: 0; 
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px; 
}

.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #fbf3ed;
  text-decoration: none;
  font-weight: 400; 
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links {
  display: flex;
  gap: 10px; 
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px; 
  width: 40px;
  background-color: rgba(251, 243, 237, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fbf3ed;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #dc889a;
  background-color: #ffffff;
}

.save-btn-custom {
  background: none;
  border: none;
  color: #ff69b4; /* light pink */
  font-weight: normal;
  padding: 0;
  cursor: pointer;
}

.save-btn-custom:hover,
.save-btn-custom:focus {
  color: #ff1493; /* bold pink */
  font-weight: bold;
  outline: none;
}




@media (max-width: 768px) {
  .custom-navbar .navbar-brand,
  .custom-navbar .navbar-nav .nav-link,
  .custom-navbar .dropdown-menu .dropdown-item,
  .btn-outline-danger,
  #loginButton {
    font-size: 14px; 
  }

  .custom-navbar .navbar-brand {
    margin-left: 1px;
  }

  .custom-navbar .navbar-nav .nav-link {
    padding: 1px 0; 
  }

  .custom-navbar .dropdown-menu {
    min-width: 120px; 
  }

  .card {
    width: 90%;
    padding: 15px; 
  }

  .userDetails .userName h1 {
    font-size: 16px; 
  }

  .userDetails .userName p {
    font-size: 14px;
  }

  .userDetails .rank .heading {
    font-size: 14px; 
  }

  .userDetails .rank span {
    font-size: 20px; 
  }

  .userDetails .rank .rating {
    font-size: 18px; 
  }

  .userDetails .user-rating h1,
  .userDetails .user-rating div {
    font-size: 15px; 
  }

  .profile{
    right: 5px;
  }
  .profile img {
    width: 7rem; 
    height: 7rem;
    margin-right: 2px;
  }

  .bio .work .heading,
  .bio .skills .heading {
    font-size: 18px; 
  }

  .bio .work .primary p,
  .bio .skills ul li {
    font-size: 14px; 
  }

  .timeline_about .tabs ul li {
    font-size: 16px; 
  }

  .timeline_about .recipe-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .timeline_about .recipe-card {
    width: 100%; 
    min-height: 200px; 
  }

  .timeline_about .recipe-card img {
    height: 150px; 
  }

  .timeline_about .recipe-name {
    font-size: 14px;
  }

  .footer-col h4 {
    font-size: 16px;
  }

  .footer-col ul li a {
    font-size: 12px; 
  }

  .custom-navbar {
    height: auto; 
  }

  .timeline_about .tabs {
    height: 40px; 
  }

  .footer {
    padding: 20px 0; 
  }
  
  .footer-col {
    flex: 1 1 100%; 
    text-align: center; 
  }

  .footer-col h4::before {
      left: 50%; 
      transform: translateX(-50%);
  }

  .footer-col .social-links {
      justify-content: center; 
  }
  .timeline_about .tabs ul li span {
    font-size: 12px;
  }
  
}

@media (max-width: 400px) {
  .custom-navbar .navbar-brand{
    width:40px;
  }
  
  .custom-navbar .navbar-brand img{
    width: 55px;
  }
  .custom-navbar .navbar-nav{
    margin-left: 8px;
  }
  
  .custom-navbar .d-flex #loginButton{
    margin: 0;
    width: 55px;
    height: 30px;
    font-size: 9px;
  }
  .timeline_about .tabs ul li span {
    font-size: 10px;
  }
  
    
}

@media (max-width: 345px) {
  .custom-navbar .navbar-brand{
    width:25px;
  }
  
  .custom-navbar .navbar-brand img{
    width: 50px;
  }
  .custom-navbar .navbar-nav{
    margin-left: 13px;
  }

  
  .timeline_about .tabs ul li span {
    font-size: 10px;
  }
  
  .custom-navbar .navbar-nav .nav-link{
    font-size: 12px;
  }
  
  .custom-navbar .d-flex #loginButton{
    margin: 0;
    width: 55px;
    height: 30px;
    padding: 1px;
    font-size: 13px;
  }
    
}
